<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>YOLOv5 Inference App</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyUGLThnbJtkStUttG0Vf9bd4S+Es81a9Q"
        crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">YOLOv5 Inference App</h1>

        <form id="uploadForm" action="/predict" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="imageUpload">Choose an image to upload:</label>
                <input type="file" class="form-control-file" id="imageUpload" name="file" accept=".jpg, .jpeg, .png">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="resetForm()">Reset</button>
        </form>

        <hr>

        <div id="result" class="mt-4"></div>
        <div id="uploadedImage" class="mt-4"></div>
    </div>

    <!-- Bootstrap JS scripts (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"
        integrity="sha384-X48EVRa6EphRoM2LTfA3fO5UrGvEjxHzZZRC4rSNA/8GNOyQT39JL8qD0HIktJG" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyUGLThnbJtkStUttG0Vf9bd4S+Es81a9Q"
        crossorigin="anonymous"></script>

    <script>
        // Function to reset the form and clear results
        function resetForm() {
            document.getElementById('uploadForm').reset();
            document.getElementById('result').innerHTML = '';
            document.getElementById('uploadedImage').innerHTML = '';
        }

        // Function to display the uploaded image
        document.getElementById('imageUpload').addEventListener('change', function (event) {
            const fileInput = event.target;
            const uploadedImageDiv = document.getElementById('uploadedImage');

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    uploadedImageDiv.innerHTML = `
                        <img src="${e.target.result}" class="img-fluid rounded" alt="Uploaded Image">
                    `;
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        });
    </script>
</body>
</html>
